@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/vaporwave.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-align: center;
}

button {
  background: #ff00ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

button:hover {
  background: #ff88ff;
}